@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
    font-family: "Audiowide", sans-serif;
    font-size: 13px;
    margin-top: 0;
    margin-right: 0;
    background-color: rgb(24, 26, 27);;
}

h1 {
  color: white;
  text-align: center;
}
